body {
    font-family: 'Roboto Mono';
    font-size: 14px;
    text-align: center;
}

div#container {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    height: 500px;
}

span {
    display: inline-block;
    vertical-align: middle;
}